#wrap{
	width:200px;
	margin:auto;
	/*position:relative;*/
	/*color: green;*/
}

.bubble_wrap{
	height: 200px;
	position: absolute;
	top: 10px;
	left: 1%;
	width: 100%;
	/*background: blue;*/
}
.bubbles{
	/*colour of bubbles*/
	background-color: rgba(115, 152,237, 0.5);

/*	background-color: #e0550f;*/

	border: 1px solid #585858;
	border-radius: 100px 100px 100px 100px;
	-moz-border-radius: 100px 100px 100px 100px;
	-webkit-border-radius: 100px 100px 100px 100px;
	-o-border-radius: 100px 100px 100px 100px;
	-ms-border-radius: 100px 100px 100px 100px;
	height: 20px;
	left: 33px;
	position: absolute;
	top: 0px;
	width: 20px;
}
.b0{
	left:8px;
	top:180px;
}
.b1{
	left:80px;
	top:180px;
}
.b2{
	left: 10px;
	top:180px;
}
.b3{
	left: 90px;
	top:180px;
}
.b4{
	left: 180px;
	top:180px;
}
.b5{
	left: 210px;
	top:320px;
}
.b6{
	left: 240px;
	top:320px;
}
.b7{
	left: 280px;
	top:320px;
}
/* ...............< fish >.................. */


/*start of plant animations*/


.b0{
	animation-name:bubbles;
	animation-delay:2s;
	animation-duration:4s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:bubbles;
	-moz-animation-delay:2s;
	-moz-animation-duration:4s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:bubbles;
	-webkit-animation-delay:2s;
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
@keyframes bubbles{
	from{
		top:60px;
		left:33px;
	}
	50%{
		left:39px;
	}
	to{
		top:0px;
		left:33px;
	}
}
@-moz-keyframes bubbles{
	from{
		top:60px;
		left:33px;
	}
	50%{
		left:39px;
	}
	to{
		top:0px;
		left:33px;
	}
}
@-webkit-keyframes bubbles{
	from{
	top:60px;
		left:33px;
	}
	50%{
		left:39px;
	}
	to{
		top:0px;
		left:33px;
	}
}
.b1{
	animation-name:bubbles;
	animation-duration:7s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:bubbles;
	-moz-animation-duration:7s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:bubbles;
	-webkit-animation-duration:7s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
@keyframes bubbles{
	from{
top:160px;
	}
	to{
		top:0px;
	}
}
@-moz-keyframes bubbles{
	from{
	top:160px;
	}
	to{
		top:0px;
	}
}
@-webkit-keyframes bubbles{
	from{
		top:160px;
	}
	to{
		top:0px;
	}
}
.b2{
	animation-name:bubbles;
	animation-delay:1s;
	animation-duration:4s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:bubbles;
	-moz-animation-delay:1s;
	-moz-animation-duration:4s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:bubbles;
	-webkit-animation-delay:1s;
	-webkit-animation-duration:4s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
@keyframes bubbles{
	from{
		top:160px;
	}
	to{
		top:0px;
	}
}
@-moz-keyframes bubbles{
	from{
	top:160px;
	}
	to{
		top:0px;
	}
}
@-webkit-keyframes bubbles{
	from{
	top:160px;
	}
	to{
		top:0px;
	}
}
.b3{
	animation-name:bubbles;
	animation-delay:4s;
	animation-duration:3s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:bubbles;
	-moz-animation-delay:4s;
	-moz-animation-duration:3s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:bubbles;
	-webkit-animation-delay:4s;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
@keyframes bubbles{
	from{
top:160px;
		left:60px;
	}
	25%{
		left:30px;
	}
	50%{
		left:58px;
	}
	75%{
		left:37px;
	}
	to{
		top:0px;
		left:60px;
	}
}
@-moz-keyframes bubbles{
	from{
	top:160px;
		left:60px;
	}
	25%{
		left:30px;
	}
	50%{
		left:58px;
	}
	75%{
		left:37px;
	}
	to{
		top:0px;
		left:60px;
	}
}
@-webkit-keyframes bubbles{
	from{
	top:160px;
		left:60px;
	}
	25%{
		left:30px;
	}
	50%{
		left:58px;
	}
	75%{
		left:37px;
	}
	to{
		top:0px;
		left:60px;
	}
}
.b4{
	animation-name:bubbles;
	animation-duration:6s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:bubbles;
	-moz-animation-duration:6s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:bubbles;
	-webkit-animation-duration:6s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
@keyframes bubbles{
	from{
		top:160px;
	}
	to{
		top:0px;
	}
}
@-moz-keyframes bubbles{
	from{
	top:160px;
	}
	to{
		top:0px;
	}
}
@-webkit-keyframes bubbles{
	from{
		top:160px;
	}
	to{
		top:0px;
	}
}
.b5{
	animation-name:bubbles;
	animation-duration:5s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:bubbles;
	-moz-animation-duration:5s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:bubbles;
	-webkit-animation-duration:5s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
@keyframes bubbles{
	from{
top:60px;
	}
	to{
		top:0px;
	}
}
@-moz-keyframes bubbles{
	from{
		top:160px;
	}
	to{
		top:0px;
	}
}
@-webkit-keyframes bubbles{
	from{
	top:160px;
	}
	to{
		top:0px;
	}
}

.b6{
	animation-name:bubbles;
	animation-duration:9s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:bubbles;
	-moz-animation-duration:9s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:bubbles;
	-webkit-animation-duration:9s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
@keyframes bubbles{
	from{
		top:160px;
	}
	to{
		top:0px;
		left:100px;
	}
}
@-moz-keyframes bubbles{
	from{
	top:160px;
	}
	to{
		top:0px;
		left:100px;
	}
}
@-webkit-keyframes bubbles{
	from{
		top:160px;
	}
	to{
		top:0px;
		left:100px;
	}
}
.b7{
	animation-name:bubbles;
	animation-duration:2s;
	animation-iteration-count:infinite;
	animation-timing-function: linear;
	
	-moz-animation-name:bubbles;
	-moz-animation-duration:2s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function: linear;
	
	-webkit-animation-name:bubbles;
	-webkit-animation-duration:2s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function: linear;
}
@keyframes bubbles{
	from{
top:310px;
	}
	to{
		top:0px;
	}
}
@-moz-keyframes bubbles{
	from{
		top:280px;
	}
	to{
		top:0px;
	}
}
@-webkit-keyframes bubbles{
	from{
	top:310px;
	}
	to{
		top:0px;
	}
}


