html,
button,
input,
select,
textarea {
  color: #222;
}

body {

  line-height: 1.4;
  font: 1em Helvetica, Helvetica Neue, Arial;


  transition:all .2s linear; 
  -o-transition:all .2s linear; 
  -moz-transition:all .2s linear; 
  -webkit-transition:all .2s linear;

}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  background-color: #97e7e4;
  height: 3px;
  border: 0;
  border-top: 1px solid #97e7e4;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

a, a:hover, a:visited {
  text-decoration: none;


}

ul li{
  list-style-type: none;
}

@font-face {
  font-family:'mainFont';
  src: url('../../daftFont/ddaftt-l-webfont.eot');
  src: url('../../daftFont/ddaftt-l-webfont.eot?#iefix') format('embedded-opentype'),
  url('../../daftFont/ddaftt-l-webfont.woff') format('woff'),
  url('../../daftFont/ddaftt-l-webfont.ttf') format('truetype'),
  url('../../daftFont/ddaftt-l-webfont.svg#ddaftt-lowercaddafttlowercase') format('svg');
  font-weight: normal;
  font-style: normal;

}

/*---headers------*/ 

h1{
  font-family: 'mainFont';
  font-size: 2.5em;

}

h1.overLayTitle{

  margin-top: 5px;
  margin-left: 12%;

}

h2{
  font-family: 'mainFont';
  font-size: 2em;

}

h3{

  font-family:helvetica;
  font-size: 1.5em;
  padding: 5px;

}

h4{

  font-family:helvetica;
  font-size: 1em;
  padding: 5px;

}

h1.overLayTitle:first-letter{

  font-size: 1em;
}

h1.overLayTitle:nth-letter(2){

  font-size: 1.5em;
}


h6.jumbotronLabels{
  font-family: 'mainFont';
  font-size: 2em;    
  color: white;
  margin: 0;
  padding: 0;
  /*font stroke*/
  -webkit-text-stroke: 0.5px black;
}

h6.jumbotronLabels2{
  font-family: arial;
  font-size: 1em;    
  color: black;
  margin: 0;
  padding: 8px;
  border-radius: 0.9em;
  background: #fff;
  display: none;
  /*font stroke*/
  /* -webkit-text-stroke: 0.5px black;*/
}

/*=========== end of generic styles ==========*/

.main {
  padding: 10px 0;
}

.wrapper {
  width:95%;
  margin: 0 auto;

}


.main-container{
  width: 100%;
  padding-top: 75px;
  z-index: 99;
  background-image: url(../img/salonBg2.jpg);

}


.header-container {
  border-bottom: 3px solid orange;
  border-top: 3px solid orange;
  background:#97e7e4;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
  box-shadow: 0 5px 10px #aaa;
  height: 80px;
  width: 100%;
  position: fixed;
  z-index: 999;
}


.title {
  float: left;
  color: white;
}


.main article {
  float: left;
  margin-left: 1%;
  /*width: 57%;*/
  width:50%;
  margin-left: 5%;
  padding: 1%;
  border: 5px solid #97e7e4;
  border-radius: 10px;
  background-color: white;
/*background-image: url("../../assets/img/girl1.png");*/
/*background-position: 99% 95%;
background-repeat: no-repeat, no-repeat;*/
/*  background: url(images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;*/
}

.main article.news {
  float: left;
  margin-left: 1%;
  width: 57%;
  padding: 1%;
  border: 5px solid #97e7e4;
  border-radius: 10px;
  background-color: rgba(255,255,255, 1);
  background-image: url("../../assets/img/joesburger.png");
  background-position: 99% 95%;
  background-repeat: no-repeat, no-repeat;
}

.main article.prices {
  float: left;
  margin-left: 1%;
  width: 57%;
  padding: 1%;
  border: 5px solid #97e7e4;
  border-radius: 10px;
  background-color: rgba(255,255,255, 1);
  background-image: url("../../assets/img/boy1_car.png");
  background-position: 99% 95%;
  background-repeat: no-repeat, no-repeat;
}

.main article.contact {
  float: left;
  margin-left: 1%;
  width: 57%;
  padding: 1%;
  border: 5px solid orange;
  border-radius: 10px;
  background-color: rgba(255,255,255, 1);
  background-image: none;

}

.main article.contact img{
  z-index: 100;
}


.main aside {

  float: right;
  position: relative;
  margin-right:1%;
  width: 32%;
  padding: 1%;
  border: 5px solid #97e7e4;
  border-radius: 10px;
  color: #000;
  background-color: rgba(255,255,255, 1);
/**this positions 2 images/
/*background-image:url("../../assets/img/1.jpg"), url("../../assets/img/car_small.png");*/
/*background-position: 95% 2%, 1% 100%;*/
background-image: url("../../assets/img/1.jpg"); 
background-position: 95% 2%;
background-repeat: no-repeat;

}

.main aside.news {
  width: 90%;

}

section{
}


.jumbotron{
  width: 70%;
  height: 200px;
  padding: 10px;
  margin: 20px auto;
  background-color: orange;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
  box-shadow: 0 5px 10px #aaa;
}

.jumbotronContact{
  width: 70%;
  padding: 10px;
  margin: 20px auto;
  background-color: orange;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 10px #aaa;
  -moz-box-shadow: 0 5px 10px #aaa;
  box-shadow: 0 5px 10px #aaa;
}
.jumbotronContact h1.fancy::nth-letter(n) {
  color: red;
}


p.shortenParagraph{
  width: 65%;
}
p.shortenParagraphLabel{
  width: 55%;
  background-color: white;
}

ul.white-bg {
  width: 45%;
  background-color: white;
}

h1.fancy:nth-letter(odd) {
  color: white;
}
h1.fancy:nth-letter(even) {
  transform: skewY(-15deg);
  color: red;
}

#letters:nth-letter(even),
#letters:nth-letter(odd){
  transition:all .4s;
}
#letters:nth-letter(odd):hover,
#letters:nth-letter(even){
  color:red;
}

#letters:nth-letter(odd){
  color:blue;
}

#letters:nth-letter(even):hover{
  color:yellow;
}

.letters.even{
  color:yellow;  
}

.letters.odd{
  color:red;  
}

span 
{
  color: #97d6eb;
  font-weight: bold;
  font-size: 1.5em;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

span > span
{
  color: white;
  font-weight: bold;
  font-size: 1em;
}


ul.newsSection img{
max-width: 400px;
}

ul.prices
{
  list-style-image: url('../../assets/img/star_bullet.png');
}

ul.comments{
width: 80%;
margin: 0 auto;
}

aside.news ul.comments{
width: 360px;
margin: 0 auto;
background: #ffffff;
padding: 20px;
border-radius: 8px;
}

ul.comments li.commentsTitle{

  color: black;
  font-family: 'mainFont';
  font-size: 140%;
}

ul.comments li.message{

  background-color: rgba(255, 255,255,1);
  padding: 5px;
  margin-right: 5%;
  /*background: red;*/
}

ul.comments li.commentsDate{

  color: green;
  font-size: 80%;
}

ul.comments li.commentsFrom{

  color: orange;
  font-size: 80%;
  /*background: red;*/
}

ul.comments img{
  padding:5px;
  border:2px dotted orange;
  max-width: 350px;
  /*max-width: 100%; */
  height: auto;

}

.centered {
}

.jumbotron-container{
/*width: 100%;*/
max-width: 1000px;
margin: 0 auto;
position: relative;

}

.jumbotron .slides {
  display:none;
}



#slideshow {
  border:5px #000 solid;
  box-shadow:4px 6px 6px #444444;
  display:block;
  margin:0 auto;
  height:190px;
  width:90%;
}

.slideShowPhrase{
  width: 180px;
  height: 40px;
  position: absolute;
  top:130px;
  left:15%;
  transform:rotate(340deg);
  -ms-transform:rotate(7deg); /* IE 9 */
  -webkit-transform:rotate(340deg); /* Safari and Chrome */
}

.slideShowPhrase1{
  width: 70px;
  height: 50px;
*/    position: absolute;
top:250px;
right:16%;
/*rotate*/
transform:rotate(7deg);
-ms-transform:rotate(7deg); /* IE 9 */
-webkit-transform:rotate(7deg); /* Safari and Chrome */
}

.container.gallery{
  margin-top: 10px;
  background: #ff9900;
  padding-left: 5%;
  padding-top: 1%;
  padding-right: 1%;
  background-size: 100%;

}

.container.gallery img{
  border: 2px solid #fff;
  margin-bottom: 5px;

}

.container.gallery h1{
  text-align: center;
  color: #fff;
letter-spacing: 2px;
}



.container.contact img{

  max-width: 100%;
  height: auto;
}


.footer-container{

  background:#97e7e4;
  border-top: 4px solid orange;
  -webkit-box-shadow: 3px 0px 24px 0px rgba(17, 50, 50, 0.78);
  -moz-box-shadow:    3px 0px 24px 0px rgba(17, 50, 50, 0.78);
  box-shadow:         3px 0px 24px 0px rgba(17, 50, 50, 0.78);
}

.footer-container footer {
  color: white;
  font-size: 1em;
  padding: 0;
  letter-spacing: 2px;
  font-weight: normal;
  width: 100%;
}

footer p{
  color: white;
  font-size: 0.5em;
  padding: 0;
  letter-spacing: 2px;
  font-weight: normal;
}

footer ul li {
  display: inline-block;
width:23%;

}

footer ul li a {

  color: white;
  font-size: 0.8em;
  padding: 0;
  letter-spacing: 3px;
  font-weight: normal;
  margin: 0 1%;
  padding-left: 30px;
}


footer ul > li:nth-last-of-type(-n+2) {

}

footer ul > li img{
  padding-left: 20%;
}

footer.footerAddress{

  background: #ff9900;
  border-radius: 0.4em;
}

footer.footerAddress p{
  padding: 1% 2% 01% 3%;
  font-family:helvetica;
  font-size: 1.1em;
  color: #fff;
}

footer.footerAddress p:nth-child(2){
  padding-top: 0;
  margin-top: -20px;
  text-align: center;

}


/*=shapes=====*/
#starContainer{

  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 10;
  opacity: 0.9;
  margin:-18px;
}

#starContainer2 {


  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 11;
  opacity: 0.6;  
  left:52%;
  margin-top:-50px;
}

#starContainer3{

  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 12;
  opacity: 0.9;
  margin:25px;
}

.rotate{
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;

  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;

  overflow:hidden;

}  

.rotate:hover  
{
  -webkit-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}  


/* ====================
Menu
==================== */

nav a {
  float: left;
  margin: 0 1.7%;
  padding: 15px 1%;
  margin-bottom: 0;
  font-size: 140%;
  letter-spacing: 2px;
  color: white;
}

nav li:first-child a:not(.clicker) {
  margin-left: 3%;
}

nav li:first-child a:not(.clicker) {
  margin-left: 5%;
}

nav li:last-child a {
  margin-right: 0;
}

nav ul {
  margin: 0;
  padding-top: 0.5%;
}

nav ul li a:nth-child(4){
background: green;
}

ul li a:nth-child(3n+3) {
  color: green;

}

nav ul.navList li:nth-child(4){
  background:#ff0000;
  color: red;

}

nav a:hover {
  color: white;
text-shadow: 3px 3px 0 #ffd217, 5px 5px 0 #5ac7ff, 7px 7px 0 #ffd217, 9px 9px 0 #5ac7ff;
-webkit-transition: width 0.3s; /*Safari & Chrome*/
transition: width 0.3s;
-moz-transition: width 0.3s; /* Firefox 4 */
-o-transition: width 0.3s; /* Opera */
background: url('../../assets/img/star1.png') no-repeat;
}

div.logo{
  position: absolute;
  top: 10px;
  left: 10px;
  width:100px;
  height: 100px;
  background: url('../../assets/img/logo.png') no-repeat;
  color: black;
  clear: both;

}


/* ========================
menn: IE Fixes
======================== */

nav ul li {
  display: inline;
}

.oldie nav a {
  margin: 0 0.7%;
}


/* ========================
FORM
======================== */

.red{
  color: red;
  font-size: 0.8em;
}

#contactForm{

  background: none;
  width: 95%;
  padding:2%;

  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);

}

#contactForm label {
  text-align: left;
  display: block;
  margin: 10px;
  width: 80%;
  color: #000;
  font-size: 1em;
  /*font-weight: bold;*/
  text-shadow: 0px 1px 0px #000;
}

#contactForm input{

  width: 80%;
  margin: 10px;
  background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
  font-size: 1em;
  font-weight: bold;


}

#contactForm textarea {
  width: 80%;
  margin: 10px;
  color: black;
  font-size: 1em;
  font-weight: bold;
  background: #5E768D;
  background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
  /*  font-family: sans-serif; font-size: 16px; color: #f2f2f2; text-transform: uppercase; text-shadow: 0px -1px 0px #334f71; */
}
textarea::-webkit-input-placeholder  {
  color: #a1b2c3; text-shadow: 0px -1px 0px #38506b;  
}
textarea:-moz-placeholder {
  color: #a1b2c3; text-shadow: 0px -1px 0px #38506b; 
}

input:focus, textarea:focus {
  background: #728eaa;
  background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%);  firefox 
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}

input[type=submit] {
  width: 185px; height: 22px; float: left; padding: 2; margin: 0 15px 0 0;
  -moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
  border: 1px solid #556f8c;
  background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
  cursor: pointer;
}


#newsForm{
  font-family: helvetica;
  background: rgb(252,168,50); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(252,168,50,1) 0%, rgba(237,234,227,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,168,50,1)), color-stop(100%,rgba(237,234,227,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(252,168,50,1) 0%,rgba(237,234,227,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(252,168,50,1) 0%,rgba(237,234,227,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(252,168,50,1) 0%,rgba(237,234,227,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(252,168,50,1) 0%,rgba(237,234,227,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fca832', endColorstr='#edeae3',GradientType=0 ); /* IE6-9 */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);
  -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 1);

  width: 89%;
  margin: 1%;
  padding: 20px;
  float: left;
  clear: both;

}


#newsForm label {
  text-align: left;
  display: block;
  margin: 10px;
  width: 80%;
  color: #000;
  font-size: 1em;
  font-weight: normal;
  text-shadow: 0px 1px 0px #000;
  letter-spacing: 2px;
}

#newsForm input, #newsForm textarea {

  width: 80%;
  margin: 10px;
  background: rgb(151,231,228); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(151,231,228,1) 0%, rgba(247,247,247,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(151,231,228,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(151,231,228,1) 0%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(151,231,228,1) 0%,rgba(247,247,247,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(151,231,228,1) 0%,rgba(247,247,247,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(151,231,228,1) 0%,rgba(247,247,247,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#97e7e4', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */


  border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
  -moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 2px;


}

textarea::-webkit-input-placeholder  {
  color: #000;  
  letter-spacing: 2px;
}
textarea:-moz-placeholder {
  color: #000; 
  letter-spacing: 2px;
}


#uploadForm{
  background:#A7A7A7;
}

form.contact{
  padding-top: 20px;
  background:#b3d4fc;
  margin:0 auto;
  width:80%;
  background-image: url("../../assets/img/angelica1.png");
  background-position: 100% 0%;
  background-repeat: no-repeat, no-repeat;
}

form.contact label{
  display:block;
  margin-top:20px;
  margin-left:6%;
  letter-spacing:2px;
  padding-bottom: 5px;
  font-family: helvetica;
  font-weight: bold;
}


form.contact input, textarea {


  width:80%;
  margin: 5px 2% 5px 6%;
  height:27px;
  background:#efefef;
  border:1px solid #dedede;
  padding:10px;
  margin-top:3px;
  font-size:1.1em;
  color:#3a3a3a;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  border-radius:5px;
}

form.contact input[type="submit"]{
  display: block;
  background: #ff9900;
  font-weight: bold;
  font-size: 1.5em;
  color: #fff;
  height: 45px;
  padding: 5px;
}



form.contact textarea {
  height:213px;
}

form.contact input:focus{
  border:1px solid #97d6eb;
  background:#ff9900;
}

form.contact textarea:focus {
  border:1px solid #97d6eb;
  background:#ff9900;
}

form.contact textarea::-webkit-input-placeholder  {
  color: #999;  
  text-shadow:none;
}
form.contact textarea:textarea:-moz-placeholder {
  color: #999; 
  text-shadow:none;

}

/* ==========================================================================
Media Queries
========================================================================== */


@media (min-width:720px) {
    .desktop-only {
        display:block !important;
    }

    .mobile-only {
      display: none;

    }
}


@media only screen and (max-width: 900px) {
   nav a {
    font-size: 95%;

  }
}

@media only screen and (max-width: 680px) {
   nav a {
    font-size: 55%;

  }
}

@media only screen and (max-width: 720px) {


    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }


  ul.comments img{
    max-width: 250px;
    height: auto

  }

  footer ul li {
    display: block;
    width: 100%;

  }

  footer ul li a {
    width: 100%;


  }
} 

/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (max-width: 480px) {

/*  .wrapper {
    width: 98%;
    margin: 0 5%;
  }


  footer.wrapper{
    width: 100%;
    margin: 0 0 0 0;
    padding: 0 5%;
  }
*/
  .main-container{
    padding-top: 190px;
  }
  .header-container {
    height: auto;
  }

  h1.overLayTitle{
    margin-left: 2%;
  }

  h2{
    margin-left: 2%;
  }

  /*=== nav =*/

  nav ul {
    margin: 0;
    padding: 0;
  }

  nav ul li {

  }

  nav li:first-child a:not(.clicker) {
  margin-left: 1%;
  }


  nav a {
    display: block;
    width:100%;
    margin-bottom: 2px;
    padding: 5px 3px 8px 3px;
    text-align: center;
    text-decoration: none;
    font-size: 95%;
    font-weight: bold;
    color: white;
    letter-spacing: 9px;
    border-bottom: solid 1px white;

    transition:background-color 0.2s ease-in-out;
    -webkit-transition:background-color 0.2s ease-in-out;
    -moz-transition:background-color 0.2s ease-in-out;

  }

  nav a:hover {
    background: url('../../assets/img/star1_small.png') no-repeat;
  }

  nav li:last-child a {
  }


  nav ul .clicker {
    background:#000;
    color:#FFF;
     margin-left: -10px;
    padding: 8px 5px;
  }
  nav ul .clicker:hover,
  nav ul .active {
  }

  nav ul .clicker span{
    font-weight: bold;
    font-size: 1.1em;
    margin-left: 3%;
    color: #ffffff;
  }

  h6.jumbotronLabels2{
    display:none;
  }


/*==end of nav======*/
.main article, .main article.contact, .main article.news, .main article.prices {
  width: 90%;
  margin-left: 0;
}

.main article.prices {
  background-image: none;

  }

aside.news ul.comments{
width: 85%;
}



.main aside {
  color: black;
  margin-top: 20px;
  padding: 10px 1% 10px;
  width: 95%;
  margin-right: 2.5%;
  background: white;
}

.slideShowPhrase1{
  top:350px;

}

 ul.comments img{
    margin-left: 4%;

  }


.jumbotron, .jumbotronContact{

  margin-top:-80px;

}

.container.gallery{
  margin-top:-45px;

}

.newclass{
  margin-top: 60px;
}

.centered {
       margin-left: 0;
       text-align:center;
}

p.shortenParagraph{
  width: 100%;
}

p.shortenParagraphLabel{
  width: 100%;
}

ul.white-bg {
  width: 75%;
}

#starContainer{
  display:none;
}


}

/* ==========================================================================
Helper classes
========================================================================== */

clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.left{
  float: left;

}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
}

.text-centred{
  text-align: center;
}

.mobile-hidden {
  display: none;
}

